:root{
    --blanco: #ffffff;
    --negro: #000000;
    --primario: #b30000;
    --secundario: #cccccc;
    --fondo: #921010;
} 


/* Globales */
html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-snap-type: y mandatory;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    min-height: 100vh;
    background-color: var(--fondo);
}

*, *:before, *:after {
    box-sizing: inherit;
  
}


.h1 {
    font-family: 'Crimson Text', serif;
    font-size: 3.8rem;
    color: var(--primario);
    text-align: left;
    margin-left: 2rem;
}
.span {
    font-family: 'Inter', sans-serif;
    font-size: 2.8rem;
    color: var(--primario);
    margin: auto 40rem;
}

.h2 {
    font-size: 2.5rem;
    color: var(--negro);
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}


.header {
    display: flex;
    background-color: var(--secundario);
}

